*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #003542;
}

/*#################----NAVBAR----##############*/

/*nav-bar*/
#nav-bar{
	display: flex;
	background-color: #001f3f;
	position: fixed;
	width: 100vw;
	height: 70px;
	justify-content: space-between;
	box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.3);
	z-index: 4;
}

/*nav-left*/
#nav-left{
	display: flex;
	/*############################*/
	/*background-color: red;*/
	width: 50%;
}

/*nav-right*/
#nav-right{
	display: flex;
	justify-content: space-around;
	/*background-color: blue;*/
	width: 50%;
}

/*everything at center*/
.center-down{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*logo*/
#logo a{
	text-decoration: none;
	display: flex;
}

#logo a i{
	font-size: 3.2rem;
	color: #01FF70;
	margin-top: 5px;
	margin-left: 15%;
}
#logo-title{
	margin-left: 5px;
}
#ninja-p {
	font-size: 2rem;
	color: grey;
}
#studio-p{
	font-size: 1.5rem;
	color: lightgrey;
	font-family: sans-serif;
}
#logo:hover > a i{
	animation-name: changeLogoCol;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@keyframes changeLogoCol{
	0%{
		color: #1B3649;
	}
	20%{
		color: #D4FF47;
	}
	40%{
		color: #FF2FB9;
	}
	60%{
		color: #7B1DAF;
	}
	80%{
		color: #0FC0FC;
	}
	100%{
		color: #01FF70;
	}
}

/*nav-favourites*/
#nav-favourites{
	margin-left: 15%;
	/*background-color: grey;*/
	cursor: pointer;
	padding: 0 10px;
}
#nav-favourites a{
	text-decoration: none;
}
#nav-favourites a p{
	color: lightgrey;
	font-size: 1.5rem;
}
#nav-favourites:hover{
	background-color: grey;
}
#nav-favourites:hover > a p{
	color: white;
}

/*profile photo*/
#profile-photo div{
	height: 50px;
	width: 50px;
	background-image: url('../Static/ProfilePhoto/profile.jpg');
	background-size: cover;
	border-radius: 50%;
	box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
#profile-photo div:hover{
	box-shadow: inset 0 0 7px 3px rgba(0, 0, 0, 0.5);
}


/*nav-search*/
#nav-search{
	/*background-color: grey;*/
}
#search-elements{
	background-color: #DD4124;
	border: solid black 1px;
	font-size: 1.5rem;
	padding: 10px 15px;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	cursor: pointer;
	position: fixed;
	box-shadow: inset 0 0 7px 3px rgba(0, 0, 0, 0.5);
	width: 50px;
	transition: width 2s;
}
#search-elements i{
	color: white;
	transition: color 1s linear;
}
#search-elements input{
	max-width: 0;
	visibility: hidden;
	padding: 6px 0;
	transition: all 2s;
	outline: none;
	border: none;
	background-color: transparent;
	color: white;
	font-size: 15px;
}
#search-elements input::placeholder{
	color: lightgrey;
}
#nav-search:hover > #search-elements input{
	max-width: 100%;
	visibility: visible;
}
#nav-search:hover > #search-elements i{
	color: darkblue;
}
#nav-search:hover > #search-elements{
	width: 15%;
}

/*bell icon*/
#nav-bell-icon{
	margin-left: 20%;
}
#nav-bell-icon i{
	font-size: 1.8rem;
	color: white;
	cursor: pointer;
}
#nav-bell-icon i:hover{
	color: gold;
}
.bell-ring i:hover{
	animation: ring;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-iteration-count: 3;
}
@keyframes ring{
	0%{
		transform: rotate(-15deg);
	}
	25%{
		transform: rotate(15deg);
	}
	50%{
		transform: rotate(-15deg);
	}
	100%{
		transform: rotate(15deg);
	}
}

/*####### ----default as hidden for tags before media---- #########*/

/*menubutton*/
#menu-button{
	display: none;
	/*background-color: grey;*/
	width: 20%;
}
#menu-button input{
	display: none;
}
#menu-button label{
	cursor: pointer;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#menu-button label i{
	font-size: 2rem;
	color: lightgrey;
}
#menu-button input:checked ~ label i{
	color: black;
}
#menu-button input:checked ~ label{
	background-color: lightgrey;
}

/*menu button items*/
#menu-button-items{
	position: fixed;
	height: 100vh;
	max-width: 0;
	width: 100vw;
	top: 70px;
	overflow: hidden;
	background-color: #001f3f;
	transition: all 0.4s;
	/*background-color: #009B77;*/
}

#menu-button input:checked ~ #menu-button-items{
	max-width: 100%;
}

/*menu buttons items search*/
#search-media{
	/*background-color: red;*/
	display: flex;
}
#search-media input{
	display: block;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid lightgrey;
	font-size: 20px;
	margin-left: 6%;
	color: white;
}
#search-media input::placeholder{
	color: lightgrey;
}
#search-media i{
	cursor: pointer;
	color: white;
	font-size: 28px;
}
#search-media i:hover{
	color: yellow;
}

/*add top margin to all the media items*/
.add-margin{
	margin-top: 5%;
}

/*****************>>>>>>>MAIN SECTION<<<<<<<*****************/
main{
	width: 70vw;
	display: inline-block;
	/*background-color: black;*/
}
/*###########-----------Carousal------------#######*/
#carousel{
	height: 70vh;
	width: 100%;
	/*background-color: grey;*/
}
#carousel-container{
	height: 70%;
	width: 80%;
	/*background-color: black;*/
	position: relative;
	top: 100px;
	left: 10%;
}

#carousel-image1{
	height: 90%;
	width: 70%;
	background-image: url('../Static/CarouselImages/i1.jpg');
	background-size: cover;
	position: absolute;
	z-index: 0;
	overflow: hidden;
	transform: scale(0.8);
	opacity: 0.5;
	cursor: pointer;
	transition: transform 0.3s;
}

#carousel-image2{
	height: 90%;
	width: 70%;
	/*background-color: green;*/
	background-image: url('../Static/CarouselImages/i2.jpg');
	background-size: cover;
	position: absolute;
	left: 15%;
	z-index: 1;
	overflow: hidden;
	cursor: pointer;
	transition: transform 10s;
	transition: all 0.3s;
	
}

#carousel-image3{
	height: 90%;
	width: 70%;
	/*background-color: blue;*/
	background-image: url('../Static/CarouselImages/i3.jpg');
	background-size: cover;
	position: absolute;
	z-index: 0;
	left: 30%;
	overflow: hidden;
	opacity: 0.5;
	cursor: pointer;
	transform: scale(0.8);
	transition: all 0.3s;
}

.carousal-box-shadow{
	box-shadow: 6px 6px 18px 7px rgba(0, 0, 0, 0.5);
}

#carousel-image2:hover{
	transform: scale(1.1);
}
#carousel-image1:hover{
	z-index: 2;
	opacity: 1;
	transform: scale(1.1);
}
#carousel-image3:hover{
	z-index: 2;
	opacity: 1;
	transform: scale(1.1);
}


/*##############-----------ASIDE SECTION-----------##############*/
aside{
	display: inline-block;
	position: fixed;
	top: 90px;
	/*background-color: grey;*/
	width: 25vw;
	height: 73vh;
}
aside section{
	/*background-color: grey;*/
	height: 100%;
	width: 100%;
}

/*aside heading and drop down*/
#aide-heading{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*background-color: darkgrey;*/
}
#aide-heading p{
	font-size: 1.8rem;
	font-family: sans-serif;
	word-spacing: 2px;
	letter-spacing: 2px;
	font-weight: bold;
	color: #FFFFFF;
}
#drop-down{
	text-align: right;
}
#drop-down select{
	font-weight: bold;
	letter-spacing: 1px;
	font-family: cursive;
	border: none;
	outline: none;
	font-size: 1rem;
	text-align: right;
	width: auto;
	background-color: transparent;
	color: orange;
	cursor: pointer;
}

/*content*/
#aside-content{
	/*background-color: green;*/
	height: 92%;
	overflow: auto;
}

/*tabs*/
.tabs{
	margin-top: 16px;
	width: 100%;
	height: 12%;
	/*background-color: grey;*/
}
.tabs input{
	display: none;
}
.song-tabs {
    display: flex;
    /*background-color: red;*/
    width: 95%;
    height: 100%;
    cursor: pointer;
}


/**********tabs left*************/
.song-tab-left{
	width: 90%;
	height: 100%;
	/*background-color: yellow;*/
	display: flex;
	align-items: center;
}

/*number and animated icon*/
.sno i{
	position: absolute;
	visibility: hidden;
	top: 0;
}

.sno{
	font-size: 15px;
	color: lightgrey;
	font-family: sans-serif;
	position: relative;
}

/*artist and song name*/
.aside-song-name{
	color: white;
	font-size: 18px;
	font-family: cursive;
}
.aside-artist{
	color: #939393;
}

/*thumbnail*/
.aside-thumbnail-container{
	height: 80%;
	width: 20%;
	margin:0 15px;
	/*background-color: grey;*/
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 3px 3px 7px 4px rgba(0, 0, 0, 0.3);
	transition: transform 0.5s;
}

.song-tabs:hover > .song-tab-left .aside-thumbnail-container{
	transform: scale(1.2);
} 
#tab1-thumb{
	height: 100%;
	width: 100%;
}

/************tabs right*****************/
.song-tab-right{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.song-tab-right i{
	position: absolute;
}
.song-tab-right .heart-solid{
	transform: scale(0.9);
	color: transparent;

}
.song-tab-right label{
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.heart-hollow{
	color: white;
}

/*Hearts Favourite*/
#mirage-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#perfect-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#slim-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#raabata-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#vaaste-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#shayad-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#ringtone-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#aajbhi-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#loca-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
#asalmein-heart:checked ~ label .heart-solid{
	color: red;
	animation: liked 0.3s linear;
}
@keyframes liked{
	0%{
		transform: scale(5);
	}
	100%{
		transform: scale(0.9);
	}
}


/*ThumbNails Backgrounds to divs*/
.mirage-thumb{
	background-image: url("../Static/ThumbNails/mirageThumb.jpg");
	background-size: cover;
}
.perfect-thumb{
	background-image: url("../Static/ThumbNails/mirageThumb.jpg");
	background-size: cover;
}
.slim-thumb{
	background-image: url("../Static/ThumbNails/mirageThumb.jpg");
	background-size: cover;
}
.raabata-thumb{
	background-image: url("../Static/ThumbNails/mirageThumb.jpg");
	background-size: cover;
}
.vaaste-thumb{
	background-image: url("../Static/ThumbNails/mirageThumb.jpg");
	background-size: cover;
}
.shayad-thumb{
	background-image: url("../Static/ThumbNails/mirageThumb.jpg");
	background-size: cover;
}
.ringtone-thumb{
	background-image: url("../Static/ThumbNails/mirageThumb.jpg");
	background-size: cover;
}
.aajbhi-thumb{
	background-image: url("../Static/ThumbNails/mirageThumb.jpg");
	background-size: cover;
}
.loca-thumb{
	background-image: url("../Static/ThumbNails/mirageThumb.jpg");
	background-size: cover;
}
.asalmein-thumb{
	background-image: url("../Static/ThumbNails/mirageThumb.jpg");
	background-size: cover;
}



/*radio song selects*/
#mirage:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#mirage:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#perfect:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#perfect:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#slim:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#slim:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#raabata:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#raabata:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#vaaste:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#vaaste:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#shayad:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#shayad:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#ringtone:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#ringtone:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#aajbhi:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#aajbhi:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#loca:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#loca:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

#asalmein:checked ~ .song-tabs .song-tab-left .sno i{
	visibility: visible;
}
#asalmein:checked ~ .song-tabs .song-tab-left .sno p{
	visibility: hidden;
}

/*Aside Content Scrollbar*/
#aside-content::-webkit-scrollbar{
	width: 7px;
	background-color: transparent;
}
#aside-content::-webkit-scrollbar-track{
	background-color: #191919;
	border-radius: 70px;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}
#aside-content::-webkit-scrollbar-thumb{
	background-color: grey;
	border-radius: 70px;
}


/*media queries*/
@media screen and (max-width: 740px){
	/*for nav*/
	.hide{
		display: none;
	}
	#menu-button{
		display: flex;
	}
	#nav-left{
		width: 80%;
	}
	#nav-right{
		/*background-color: red;*/
		padding-right: 20px;
		width: 20%;
	}
	#logo, #nav-favourites, #nav-bell-icon{
		position: relative;
		left: -10%;
	}

	/*for carousal*/
	#carousel-container{
		display: flex;
		height: 150px;
		/*background-color: grey;*/
		width: 80vw;
	}
	#carousel-container div{
		position: relative;
		opacity: 1;
		left: 0;
		height: 80%;
	}


	/*for aside*/
	aside{
		display: block;
		width: 80vw;
		margin-top: -250px;
		margin-left: 10%;
		position: relative;
		height: auto;
	}
	.tabs{
		display: inline-block;
		width: 35vw;
		transform: scale(0.8);
	}
	#aside-content{
		overflow: hidden;
	}
	.song-tabs{
		width: 35vw;
	}
	.song-tab-left{
		display: block;
	}
	.aside-thumbnail-container{
		height: 90px;
		width: 90px;
	}
}
